
@{
    Layout = null;
}

@model Client2.ViewModells.UserPreferencesViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm("Create", "UserPreferences"))
    {
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>@Html.LabelFor(model => model.us_pr.id)</td>
                <td>@Html.TextBoxFor(model => model.us_pr.id)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.us_pr.id_pref)</td>
                <td>@Html.TextBoxFor(model => model.us_pr.id_pref)</td>
            </tr>

       

            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Guardar" /></td>
            </tr>
        </table>
    }
</body>
</html>
